.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  margin: 0;
  padding: 0;
}


.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  will-change: opacity;
}

.hero-slide.active {
  opacity: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  pointer-events: none;
}

.hero-overlay.right {
  padding-left: 0;
  padding-right: 80px;
}
.hero-title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-top: 12px;
}

/* Vertical Progress Container */
.progress-container {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 50;
  cursor: pointer;
}

.progress-container.left-dots {
  right: auto;
  left: 40px;
}

@media (max-width: 768px) {
  .progress-container {
    right: 10px !important;
    left: 10px !important;  
  }
}