@import "tailwindcss";
@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));



html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
